<div class='col-md-6 col-sm-12'>
    <div class='col-md-12'>
        <form class='form-horizontal' name='registerForm' novalidate ng-submit='submitForm(registerForm.$valid)'>
            <fieldset>
                <legend>Form 1</legend>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-sm-12 col-md-12' ng-class='{"has-error": (registerForm.country_code.$invalid && submitted)}'>
                            <label class='control-label'>Country code</label>
                            <input class='form-control' type='text' list='code-list' ng-model='user.country_code' required name='country_code'>
                            <datalist id='code-list'>
                                <option value='AU'>AU</option>
                                <option value='US'>US</option>
                                <option value='CN'>CN</option>
                                <option value='EN'>EN</option>
                                <option value='VN'>VN</option>
                            </datalist>
                            <small ng-if="submitted && registerForm.country_code.$error.required" class="help-block">Country code is required.</small>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-sm-12 col-md-4' ng-class='{"has-error": (registerForm.first_name.$invalid && submitted)}'>
                            <label class='control-label'>First Name </label>
                            <input type='text' class='form-control' ng-model='user.first_name' required name='first_name' />
                            <small ng-if="submitted && registerForm.first_name.$error.required" class="help-block">First name is required.</small>
                        </div>
                        <div class='col-sm-12 col-md-4'>
                            <label class='control-label'>Midle Name {{user.middle_name}}</label>
                            <input type='text' class='form-control' ng-model='user.middle_name' name='middle_name' />
                        </div>
                        <div class='col-sm-12 col-md-4' ng-class='{"has-error": (registerForm.last_name.$invalid && submitted)}'>
                            <label class='control-label'>Last Name</label>
                            <input type='text' class='form-control' ng-model='user.last_name' required name='last_name' />
                            <small ng-if="submitted && registerForm.last_name.$error.required" class="help-block">Last name is required.</small>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-sm-12 col-md-14' ng-class='{"has-error": (registerForm.birth_day.$invalid && submitted)}'>
                            <label class='control-label'>Birth day</label>
                            <input type='text' ui-date class='form-control' ng-model='user.birth_day' name='birth_day' required />
                            <small ng-if="submitted && registerForm.birth_day.$error.required" class="help-block">Birth day is required.</small>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-sm-12 col-md-14' ng-class='{"has-error": ((!user.phone && !user.email)  || registerForm.email.$invalid)  && submitted}'>
                            <label class='control-label'>Email</label>
                            <input type='email' required class='form-control' ng-model='user.email' name='email' />
                            <small ng-if="(!user.phone && !user.email) && submitted && !registerForm.email.$error.email" class="help-block">Email or phone is required.</small>
                            <small ng-if="submitted && registerForm.email.$error.email" class="help-block">Invalid email address.</small>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-sm-12 col-md-14' ng-class='{"has-error": ((!user.phone && !user.email)  || registerForm.phone.$invalid)  && submitted}'>
                            <label class='control-label'>Phone</label>
                            <input ng-pattern="/^$|\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/" class='form-control' ng-model='user.phone' name='phone' />
                            <small ng-if="(!user.phone && !user.email) && submitted" class="help-block">Email or phone is required.</small>
                            <small ng-if="submitted && registerForm.phone.$invalid" class="help-block">Phone is invalid.</small>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-sm-12 col-md-14' ng-class='{"has-error": (registerForm.pin.$invalid && submitted)}'>
                            <label class='control-label'>PIN</label>
                            <input ng-pattern="/^\d{4,6}$/" type='text' class='form-control' ng-model='user.pin' name='pin' required />
                            <small ng-if="submitted && registerForm.pin.$error.pattern" class="help-block">Pin is invalid.</small>
                            <small ng-if="submitted && registerForm.pin.$error.required" class="help-block">Pin is required.</small>
                        </div>
                    </div>
                </div>
                <div class='form-actions'>
                    <div class='row'>
                        <div class=''>
                            <button class='btn btn-default' ng-click='resetForm($event)'>
                                <i class='fa fa-refresh'></i> Reset
                            </button>
                            <button class='btn btn-primary' type='submit'>
                                Register
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
